@import "~bootstrap/scss/bootstrap";

.contactIcon {
  width: 15px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.organizationNameInfoWindow {
  font-style: italic;
}

main.container {
  margin: 0px;
  padding: 5px;
}

.card {
  width: fit-content;
}

.contactsContainer {
  display: flex;
}
