@import "~bootstrap/scss/bootstrap";

.contactIcon {
  width: 15px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.organizationNameInfoWindow {
  font-style: italic;
}

.contactsIndex {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 250px;
  height: 100vh;
  overflow: scroll;

}

.contactMap {
  display: flex;
  flex-direction: row;
}

.about {
  display: flex;
  flex-direction: column;
}
