@import "~bootstrap/scss/bootstrap";

// .navbar_links {
//   background-color: #f9ddc5;
//   margin: 10px;
// }

// .contactIndex {
//   background-color: #f9ddc5;
// }

// .navbar {
//   background-color: #f9ddc5;
// }
// .app {
//   background-color: green;
//   height: 100vh;
//   width: 100vw;
// }

.contactIcon {
  width: 15px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.organizationNameInfoWindow {
  font-size: 17px;
  font-style: italic;
}

.contactIndex {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 250px;
  height: 80vh;
  overflow: scroll;
}

.mapIndexComponent {
  display: flex;
  flex-direction: row;
}

.contactCard {
  margin: 5px;
}

.about {
  display: flex;
  flex-direction: column;
}

// input[type="text"], textarea {
//   background-color : #f9ddc5;
// }
//
// input[type="email"], textarea {
//   background-color : #f9ddc5;
// }
//
// input[type="password"], textarea {
//   background-color : #f9ddc5;
// }

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// body {
//   height: 100vh;
//   justify-content: space-between;
// }

// .col-sm-10 col-md-8 mx-auto mt-5 {
//   align-items: center;
// }

main {
  height: 100vh;
  width: 100vw;
}
